@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
}

:root {
  --primary-btn: rgb(0, 186, 254);
  --primary-background: #e4e4e7;
  --primary-border: #d1d5dc;
  --gray-text: #707072;
  --secondary-btn: rgb(0, 211, 144);
  --primary-text-color: rgb(255, 255, 255);
  --secondary-text-color: rgb(0, 186, 254);
  --error-text-color: #fb2c36;
  --sidebar-background: #111727;
  --badge: rgb(66, 42, 213);
  --gradient-from: rgb(204, 149, 192);
  --gradient-via: rgb(219, 212, 180);
  --gradient-to: rgb(122, 161, 210);
  --login-background: rgb(235, 247, 243);
  --loading: rgb(228, 228, 231);
}

/* hide-scrollbar class */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
