@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";
@custom-variant print (@media print);

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
}

:root {
  --primary-btn: rgb(0, 186, 254);
  --primary-background: #d4d4d8;
  --primary-border: #d1d5dc;
  --table-border: #d4d4d8;
  --gray-text: #707072;
  --secondary-btn: rgb(0, 211, 144);
  --primary-text-color: rgb(255, 255, 255);
  --secondary-text-color: rgb(0, 186, 254);
  --error-text-color: #fb2c36;
  --sidebar-background: #f7f7fe;
  --badge: rgb(66, 42, 213);
  --gradient-from: rgb(204, 149, 192);
  --gradient-via: rgb(219, 212, 180);
  --gradient-to: rgb(122, 161, 210);
  --login-background: rgb(235, 247, 243);
  --loading: rgb(228, 228, 231);
}

/* hide-scrollbar class */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media print {
  body * {
    visibility: hidden; /* hide everything */
  }
  .print-invoice,
  .print-invoice * {
    visibility: visible; /* only show invoice */
  }
  .print-invoice {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: white;
  }

  /* Optional: Remove shadows, margins, etc. */
  .invoice-content {
    box-shadow: none !important;
    margin: 0 !important;
    padding: 16px !important;
  }
}

.table {
  font-size: 0.875rem /* 14px */;
  position: relative;
  width: 100%;
  border-radius: var(--radius-box) /* var(--radius-box) */;
  text-align: left;
  &:where(:dir(rtl), [dir="rtl"], [dir="rtl"] *) {
    text-align: right;
  }
  tr.row-hover {
    &,
    &:nth-child(even) {
      &:hover {
        @media (hover: hover) {
          background-color: var(--color-base-200) /* var(--color-base-200) */;
        }
      }
    }
  }
  :where(th, td) {
    padding-inline: calc(0.25rem /* 4px */ * 4) /* 1rem = 16px */;
    padding-block: calc(0.25rem /* 4px */ * 3) /* 0.75rem = 12px */;
    vertical-align: middle;
  }
  :where(thead, tfoot) {
    white-space: nowrap;
    color: color-mix(
      in oklab,
      var(--color-base-content) /* var(--color-base-content) */ 60%,
      transparent
    );
    font-size: 0.875rem /* 14px */;
    font-weight: 600;
  }
  :where(tfoot) {
    border-top: var(--border) solid
      color-mix(
        in oklch,
        var(--color-base-content) /* var(--color-base-content) */ 5%,
        #0000
      );
  }
  :where(.table-pin-rows thead tr) {
    position: sticky;
    top: calc(0.25rem /* 4px */ * 0) /* 0rem = 0px */;
    z-index: 1;
    background-color: var(--color-base-100) /* var(--color-base-100) */;
  }
  :where(.table-pin-rows tfoot tr) {
    position: sticky;
    bottom: calc(0.25rem /* 4px */ * 0) /* 0rem = 0px */;
    z-index: 1;
    background-color: var(--color-base-100) /* var(--color-base-100) */;
  }
  :where(.table-pin-cols tr th) {
    position: sticky;
    right: calc(0.25rem /* 4px */ * 0) /* 0rem = 0px */;
    left: calc(0.25rem /* 4px */ * 0) /* 0rem = 0px */;
    background-color: var(--color-base-100) /* var(--color-base-100) */;
  }
  :where(thead tr, tbody tr:not(:last-child)) {
    border-bottom: var(--border) solid
      color-mix(
        in oklch,
        var(--color-base-content) /* var(--color-base-content) */ 5%,
        #0000
      );
  }
}
.table {
  display: table;
}

.table-zebra {
  tbody {
    tr {
      &:where(:nth-child(even)) {
        background-color: var(--color-base-200) /* var(--color-base-200) */;
        :where(.table-pin-cols tr th) {
          background-color: var(--color-base-200) /* var(--color-base-200) */;
        }
      }
      &.row-hover {
        &,
        &:where(:nth-child(even)) {
          &:hover {
            @media (hover: hover) {
              background-color: var(--color-base-300)
                /* var(--color-base-300) */;
            }
          }
        }
      }
    }
  }
}
